*
{
   outline: none;
}
 
html, body
{
   height: 100%;
   min-height: 100%;
   margin: 0;
   text-align: center;
   font-family: "Montserrat";
   background-image: url('background.png');
   background-size:cover;
   background-repeat: no-repeat;
   text-shadow: black;
   width: 100%;
   font-size: 2rem;
  
}
h1{
   font-size: 1.875rem;
   text-shadow: 0rem 0rem;
   background-color: #703421;
   border: 0.25rem black;
   height: 2.5rem;
   text-align: center;
   color: white;

}
 
#nav{
    background-color:#4E1C0C!important;
}
     
 
#container{
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   display: block;
   line-height: 0;
}
 
 
 
 
img {
   max-width: 100%;
   max-height: 100%;
}
 

#ytd-url {
 display: block;
 position: fixed;
 right: 0;
 bottom: 0;
 padding: 0.625rem 0.875rem;
 margin: 0rem;
 color: #fff;
 font-family: "Montserrat";
 font-size: 0.875rem;
 text-decoration: none;
 background-color: #000000;
 border-radius: 0.25rem;
 box-shadow: 0 0.625rem 1.25rem -0.313rem rgba(255, 117, 117, 0.86);
 z-index: 125;
}
 
a {
   margin: 1.25rem;
   text-decoration: none;
   color: white;
}
 
span{
    font-weight: 1000;
    color: white;
    margin-block-end: 0em;
    margin-block-start: 0em;
    filter: saturate(1);
    text-transform: uppercase;
    font-size: 2rem!important;
    margin: 0.5rem;
    vertical-align: middle;
    
    }

#rectangle1{
    z-index: 0;
    filter: blur(2px);
    background-color: rgba(23, 23, 22,0.9); 
    border-radius: 1rem;
}

#header12{
    z-index: 2;
    color: white;
    font-size: 2rem;
    text-align: center;
}

input{
    position: fixed;
    right: 15rem;
    top: 20rem;
    z-index: 5;
    width: 59.8rem;
    height: 5rem;
    background-color: rgba(38, 38, 38, 0.8); 
    border: 0px;
    color: white;
    font-size: 2rem!important;
    text-align: center;
}

#button{
    padding: 30px 30px!important;
    color: inherit!important;
}