*
{
   outline: none;
}
 
html, body
{
   height: 100%;
   min-height: 100%;
   margin: 0;
   text-align: center;
   font-family: "Montserrat";
   background-image: url('background.png');
   background-size:cover;
   background-repeat: no-repeat;
   text-shadow: black;
 
  
}
h1{
   font-size: 1.875rem;
   text-shadow: 0rem 0rem;
   background-color: #703421;
   border: 0.25rem black;
   height: 2.5rem;
   text-align: center;
   color: white;
   margin-top: 0.625rem;
}
 
#nav{
    font-size: 1.5rem;
    text-shadow: 0rem 0rem;
    background-color: #703421;
    border: 0.25rem black;
    height: 2.5rem;
    text-align: right;
    margin: 1rem;
    text-transform: uppercase;
    }
     
 
#container{
   width: 90.625rem;
   height: 51.25rem;
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   display: block;
   line-height: 0;
}
 
 
 
 
img {
   max-width: 100%;
   max-height: 100%;
}
 
.portrait {
   height: 5rem;
   width: 1.875rem;
}
 
.landscape {
   height: 1.875rem;
   width: 5rem;
}
 
.square {
   height: 4.688rem;
   width: 4.688rem;
}
 
.tb
{
   display: table;
   width: 100%;
}
 
.td
{
   display: table-cell;
   vertical-align: middle;
}
 
input, button
{
   color: #fff;
   font-family: "Montserrat";
   padding: 0;
   margin: 0;
   border: 0;
   background-color: transparent;
}
 
#cover
{
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   width: 34.375rem;
   padding: 2.188rem;
   margin: -5.188rem auto 0 auto;
   background-color: rgb(255, 0, 0);
   border-radius: 1.25rem;
   box-shadow: 0 0.625rem 2.5rem #ed7c7c, 0 0 0 1.25rem #ffffffeb;
   transform: scale(0.6);
}
 
form
{
   height: 6rem;
}
 
input[type="text"]
{
   width: 100%;
   height: 6rem;
   font-size: 3.438rem;
   line-height: 1;
}
input[type="text"]::placeholder
{
   color: white;
   font-size: 3.125rem; 
}
 
#s-cover
{
   width: 0.063rem;
   padding-left: 2.188rem;
}
 
button
{ 
   position: relative;
   display: block;
   width: 5.25rem;
   height: 6rem;
   cursor: pointer;
}
 
#s-circle
{
   position: relative;
   top: -0.5rem;
   left: 0;
   width: 2.688rem;
   height: 2.688rem;
   margin-top: 0;
   border-width: 0.938rem;
   border: 0.938rem solid #fff;
   background-color: transparent;
   border-radius: 50%;
   transition: 0.5s ease all;
}
 
button span
{
   position: absolute;
   top: 4.25rem;
   left: 2.688rem;
   display: block;
   width: 2.813rem;
   height: 0.938rem;
   background-color: transparent;
   border-radius: 0.625rem;
   transform: rotateZ(52deg);
   transition: 0.5s ease all;
}
 
button span:before, button span:after
{
   content: '';
   position: absolute;
   bottom: 0;
   right: 0;
   width: 2.813rem;
   height: 0.938rem;
   background-color: #fff;
   border-radius: 0.625rem;
   transform: rotateZ(0);
   transition: 0.5s ease all;
}
 
#s-cover:hover #s-circle
{
   top: -0.063rem;
   width: 4.188rem;
   height: 0.938rem;
   border-width: 0;
   background-color: #fff;
   border-radius: 20rem;
}
 
#s-cover:hover span
{
   top: 50%;
   left: 3.5rem;
   width: 1.563rem;
   margin-top: -0.563rem;
   transform: rotateZ(0);
}
 
#s-cover:hover button span:before
{
   bottom: 0.688rem;
   transform: rotateZ(52deg);
}
 
#s-cover:hover button span:after
{
   bottom: -0.688rem;
   transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
   right: -0.688rem;
   width: 2.5rem;
   background-color: #fff;
}
button span:active{
   border: black;
}
#ytd-url {
 display: block;
 position: fixed;
 right: 0;
 bottom: 0;
 padding: 0.625rem 0.875rem;
 margin: 0rem;
 color: #fff;
 font-family: "Montserrat";
 font-size: 0.875rem;
 text-decoration: none;
 background-color: #000000;
 border-radius: 0.25rem;
 box-shadow: 0 0.625rem 1.25rem -0.313rem rgba(255, 117, 117, 0.86);
 z-index: 125;
}
 
a {
   margin: 1.25rem;
   text-decoration: none;
   color: white;
}
 
b{
   font-weight: 1000;
   color: white;
   margin-block-end: 0em;
   margin-block-start: 0em;
 }

