table {
    font-family: "Comic Sans MS", "Comic Sans";
    border-collapse: collapse;
    width: 100%;
    color:white;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border: white;
  }
  
  td, th {
    border: 1px solid white;
    text-align: center;
    padding: 20px;
    margin: 0px;
    background-color: black;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd; 
  }

  html, h1{
    font-style: bold;
    color: white;
    text-align: center;
    background-color: black;
  }

#nav{
  font-size: 20px;
  text-shadow: 0px 0px;
  background-color: white;
}
    
  html, body
  {
      height: 100%;
      min-height: 100%;
      margin: 0;
      text-align: center;
      font-family: "Comic Sans MS", "Comic Sans";
      background-image: url('background.png');
      background-size:cover;
      background-repeat: no-repeat;
      text-shadow: 2px 2px black;
    
      
  }

  #container{
    height: 1920px;
    margin: 10px;
    display: block;
    line-height: 0;
    color: white;
    position: absolute;
    z-index: 0;
    
}



header{
     background-color: transparent;
     width: 300px ;
     height: 100px;
     color: #ccafaf;
     text-align: center;
     size: 100px;

}

html, h1{
  margin: 0;
  padding: 10;
  margin-top: 0;
  margin-bottom: 0;

}

html,h1{

}

#button123{
  position: absolute;
  z-index: 100;
}